@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

h1{
    text-align: center;
    font-size: 3em;
}

button{
    text-decoration: none;
    font-size: 1.2em;
    color: white;
    width: 10vw;
    height: 5vh;
    border-radius: 25px;
    background-color: rgb(145, 141, 141);
}

#navDiv{
    display: flex;
    justify-content: space-between;
} 

#navDivInscription{
    display: flex;
    justify-content: space-between;;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#inscriptionMain{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#regles{
    margin-left: 2vw;
}

#regles li{
    font-size: 1.5em;
}

#plateauSection{
    display: flex;
    justify-content: center;
}

#plateauDiv{
    padding: 10px;
    background-color: rgb(145, 141, 141);
    display: flex;
    justify-content: center;
    align-items: center;    
}

#bottomText{
    font-size: 1.2em;
    margin-left: 2vw;
}

/*Page Memory*/

#instructions{
    text-align: center;
}

#nbCoups{
    font-size: 1.2em;
    font-weight: bold;
}

#memorySection{
    display: flex;
    justify-content: center;
}

#memoryDiv{
    width: 60vw;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(145, 141, 141);
    padding: 10px;
}

#memoryDiv img{
    margin: 5px;
    width: 100px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}

#victoryParaph{
    font-size: 3em;
    color: green;
    text-align: center;
}

/* Page Inscription */

#formSection{
    width: 60vw;
    height: 60vh;
}

.question{
    display: flex;
    flex-direction: column;
    margin: 2vh 0;
}

.question p{
    margin-top: 5px;
}

label{
    font-size: 2em;
}

input{
    height: 35px;
    background-color: black;
    color: white;
    font-size: 1.7em;
    width: 90%;
}

.inputImage img{
    width: 25px;
    margin-left: 5px;
}

button:hover:enabled{
    background-color: grey;
    box-shadow: 0 0 2rem rgb(107, 106, 106);
}